# Node.js dependencies
/node_modules/

# npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variable files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Directory for build files
/dist/
/build/

# Dependency directories
/pnpm-debug.log
/pnpm-lock.yaml

# Ignore IDE and OS files
/.idea/
/.vscode/
/.DS_Store
Thumbs.db

# Ignore test coverage
/coverage/

# Ignore temporary files and directories
/tmp/
/*.swp

# PostgreSQL data directory (if local)
db_data/

# PM2 process files (if using pm2 for process management)
.pm2/

# Jest or other test-related files (if you're running tests in a temp folder)
/jest-test-results/
