<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Produto</title>
    <link rel="stylesheet" href="/css/crud.css"> <!-- Estilos personalizados -->
</head>
<body>
    <h1>Criar Novo Produto</h1>

    <!-- Formulário para criar um novo produto -->
    <form action="/products" method="POST">
        <div>
            <label for="name">Nome do Produto:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="description">Descrição:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div>
            <label for="price">Preço:</label>
            <input type="number" id="price" name="price" required step="0.01">
        </div>

        <!-- Detalhes do Produto -->
        <div>
            <label for="manufacturer">Fabricante:</label>
            <input type="text" id="manufacturer" name="manufacturer">
        </div>
        <div>
            <label for="warranty_period">Período de Garantia (meses):</label>
            <input type="number" id="warranty_period" name="warranty_period" step="1">
        </div>
        <div>
            <label for="weight">Peso (kg):</label>
            <input type="number" id="weight" name="weight" step="0.01">
        </div>
        <div>
            <label for="dimensions">Dimensões (cm):</label>
            <input type="text" id="dimensions" name="dimensions">
        </div>
        <div>
            <label for="color">Cor:</label>
            <input type="text" id="color" name="color">
        </div>
        <div>
            <label for="material">Material:</label>
            <input type="text" id="material" name="material">
        </div>

        <div>
            <button type="submit">Criar Produto</button>
        </div>
    </form>

    <!-- Link para retornar à lista de produtos -->
    <br>
    <a href="/api/products/view">Voltar para a lista de produtos</a>

</body>
</html>
