<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crud.css">
    <title>Lista de Clientes</title>
</head>
<body>
    <h2>Lista de Clientes</h2>
    <button class="create-client-btn" onclick="window.location.href='/create'">Criar Cliente</button>
    <ul>
        <% if (clients.length === 0) { %>
            <li>Nenhum cliente encontrado</li>
        <% } else { %>
            <% clients.forEach(client => { %>
                <li onclick="window.location.href='/clientDetail?id=<%= client.id %>'">
                    <strong><%= client.name %></strong> - <%= client.email %>
                </li>
            <% }) %>
        <% } %>
    </ul>
</body>
</html>
