<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Lucas Hardware Store</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/responsive.css" />
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
<link rel="stylesheet" href="/css/owl.carousel.min.css" />

<!-- Favicon -->
<link rel="icon" href="/images/favicon.png" type="image/png">

<!-- FontAwesome (caso esteja usando) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
    .floating-button {
        position: fixed;
        bottom: 120px;
        right: 30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #007bff;
        color: white;
        font-size: 24px;
        border: none;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .floating-button:hover {
        background-color: #0056b3;
    }
</style>
