<div class="navbar">
    <a href="/user/returns"><i class="material-icons">swap_horiz</i>Trocas</a>
    <a href="/user/orders"><i class="material-icons">swap_vert</i>Pedidos</a>
    <a href="/main" class="btn btn-primary">
        <i class="material-icons">shopping_cart</i> Comprar
    </a>
    <a href="/user/settings"><i class="material-icons">settings</i>Configurações</a>
</div>