<head>
    <meta charset="UTF-8">
    <title>Settings</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />


</head>