/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Formulário */
form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

/* Link de navegação */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

 .product-card {
    transition: box-shadow 0.3s ease;
    border: 1px solid #e0e0e0;
    border-radius: 0.75rem;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
  }

  .product-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #f8f9fa;
  }

  .product-info {
    padding: 1rem;
    text-align: center;
  }

  .product-price {
    font-size: 1.25rem;
    color: #dc3545;
    font-weight: bold;
  }

  .product-name {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: #212529;
  }

  .product-rating i img {
    width: 16px;
  }