<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/settings/head') %>
    <body>
        <div class="container text-center mt-5">
            <h1 class="mb-4 text-danger">Erro!</h1>
            <p><%= message %></p>
            <p>Você será redirecionado para a página principal em 5 segundos...</p>
        </div>

        <script>
            // Redireciona para a página principal após 5 segundos
            setTimeout(function() {
                window.location.href = '/main';
            }, 5000);
        </script>
    </body>
</html>
